* { 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 2px solid red;*/
}

/* 1/5 */
.header {
    background: rgb(28, 29, 25);
    /*height: 450px;*/
    display: flex; 
    padding: 40px;
    justify-content: space-evenly;
    /*align-items: center;*/
    flex-wrap: wrap;
    /*gap: 200px;*/
}


.header > * {
    flex: 0 0 auto; 
}

.intro {
    /*display: flex;*/
    color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;

}

.brand-name {
    font-size: 24px;
    margin-bottom: 50px;
}

.motto {
    font-size: 45px;
}

.brand-text {
    font-size: 18px;
    margin-top: 10px;
}

button {
    font-size: 17px;
    font-weight: 900;
    color: white;
    background-color: #3882f6;
    padding: 8px 8px;
    margin-top: 10px;
    width: 130px;
    border-radius: 8px;
    border-bottom: 0px;
    border: none;
}

.header-content {
    width: 500px;
    height: 500px;
}

.nav-list {
    margin-bottom: 70px;
    direction: rtl;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(247, 243, 243);
}

    
.imga {
    width: 500px;
    height: 270px;
}

/* 2/5 */

.bod {
    text-align: center;
}
.tut {
 text-align: center;
 margin-top: 5px;
 color: rgb(46, 63, 73);
}
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.ex-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(8, 37, 54);
    font-size: 35px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 45px;
}
.imgtxt {
    max-width: 200px;
    margin-bottom: 110px;
}

/* 3/5 */

.vater {
    background: #dadada;
    height: 370px;
    color: rgb(57, 85, 100);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.schwester {
    width: 750px;
    font-family: 'Times New Roman', Times, serif;
    
}
.sohn {
    display: flex;
    align-self: flex-end;
    margin-right: 310px;
    font-size: 20px;
    font-weight: 900;
}

/* 4/5 */

.whitey {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    height: 330px;
}

.warn {
    display: flex;
    background: #adadad;
    color: white;
    width: 900px;
    padding: 35px;
    border-radius: 14px;
}
.tarn {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 90px;
}
.barn {
    display: flex;
}
.textwarn {
    font-size: 25px;
    margin-bottom: 5px;
}
.butti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    
}
.barn {
    border: white solid 2px;
    justify-content: center;
    padding: 7px 9px;
}

/* 5/5 */

.footer {
    display: flex;
    background: rgb(28, 29, 25);
    width: auto;
    height: 90px;
    color: white;
    font-size: 17px;
    justify-content: center;
    align-items: center;
}
